/TodeFerias/to_de_ferias_Aplicacao/dist/
/TodeFerias/to_de_ferias_Persistencia/dist/
/TodeFerias/to_de_ferias_Apresentacao/build/
/TodeFerias/to_de_ferias_Apresentacao/dist/
/TodeFerias/to_de_ferias_Apresentacao_Desktop/build/
/TodeFerias/to_de_ferias_apresentacao_Desktop/build/
/TodeFerias/to_de_ferias_apresentacao_Desktop/nbproject/private/
/TodeFerias/to_de_ferias_apresentacao_Desktop/dist/
/TodeFerias/to_de_ferias_Apresentacao_Desktop/dist/
/TodeFerias/to_de_ferias_Aplicacao/build/